---
import Links from "../../components/Links.astro";
import Pride from "../../components/Pride.astro";
import TopNav from "../../components/TopNav.astro";
import RootLayout from "../../layouts/RootLayout.astro";
import { getCollection } from "astro:content";

const pops = await getCollection("pop");
const prefixes = await getCollection("prefix");
---

<RootLayout title="Network | AS215207">
  <div
    class="w-screen min-h-screen overflow-x-hidden flex flex-col items-center justify-start"
  >
    <main
      class="flex flex-col items-start md:px-4 px-2 pt-4 md:pt-0 max-w-3xl md:w-3xl w-screen font-mono"
    >
      <TopNav page="network" />
      <h2 class="text-3xl font-medium text-center w-full">Network</h2>
      <h3 class="text-xl text-center w-full pt-2">AS215207</h3>

      <p class="pt-4">
        AetherNet is IPv6-only and currently only runs on BGP VPS providers. Our
        virtual routers use BIRDv2 & Pathvector. Most routers are running Alpine
        Linux, while some are running Debian. We are currently working on
        switching to NixOS for all virtual routers; see more information further
        down the page. <br /> In the future we would like to actually colocate hardware,
        but that is currently out of our budget, especially considering how expensive
        colo is in our home metro area of New York City.
      </p>

      <div class="flex md:flex-row flex-col justify-around w-full pt-4">
        <div class="flex flex-col md:basis-1/2 shrink-0">
          <h4 class="text-lg text-center w-full pt-4">Points of Presence</h4>
          <ul class="list-none text-center list-inside w-full">
            {
              pops.map((pop) => (
                <li>
                  <a
                    href={`/network/${encodeURIComponent(pop.data.serverName)}`}
                  >
                    {pop.data.serverName}
                  </a>{" "}
                  - {pop.data.location}
                </li>
              ))
            }
          </ul>
        </div>
        <div class="flex flex-col md:basis-1/2 shrink-0">
          <h4
            class="text-lg text-center w-full pt-4 col-span-1 row-start-1 row-span-1"
          >
            Prefixes
          </h4>
          <ul
            class="list-none text-center list-inside w-full col-start-2 col-span-1 row-start-2 row-span-1"
          >
            {
              prefixes.map((prefix) => (
                <li>
                  <a
                    href={`/network/${encodeURIComponent(prefix.data.prefix)}`}
                  >
                    {prefix.data.prefix}
                  </a>{" "}
                </li>
              ))
            }
          </ul>
        </div>
      </div>

      <h3 class="pt-4 text-lg w-full text-center">NixOS Transition</h3>
      <p class="pt-2">
        Initially, we aimed to use Alpine Linux as the host OS for all virtual
        routers as it is lightweight. In some cases, we would fall back to
        Debian. <br /> However, we have decided to switch to NixOS for all new and
        existing virtual routers. It helps guarantee correctness and reproducibility,
        and reduces the work required to maintain configurations. Our flake is not
        currently open source, however, we plan to make it available in the future.
        <br /> nova, strudel, and tulip were bootstrapped with NixOS and are fully
        online. bay & maple have been successfully migrated. pete, yeehaw, and zurich
        are currently on hold.
      </p>

      <Links />

      <Pride />

      <span class="w-full inline-flex justify-center pt-4"
        ><a href="https://github.com/aethersh/as215207.net">see source code</a
        ></span
      >
    </main>
  </div>
</RootLayout>
