---
import "@fontsource-variable/inter-tight";
import "@fontsource/inter-tight";
import "@fontsource-variable/jetbrains-mono";
import "@fontsource/jetbrains-mono";

export interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title = "AetherNet", description = "" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <link rel="icon" type="image/png" href={"/favicon.ico"} />
    <link rel="preconnect" href="https://github.com" />
    <link rel="prefetch" href="https://github.com/henrikvtcodes.png" />
    <link rel="canonical" href={Astro.url} />
    {/* OpenGraph */}
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    {/* Twitter */}
    <meta property="twitter:card" content={"summary"} />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />

    <style>
      :root {
        font-family: "Inter Tight Variable", "Inter Tight", sans-serif;
        color: white;
      }
    </style>
  </head>
  <body class="w-screen min-h-screen bg-zinc-900">
    <slot />
  </body>
</html>
