---
import "@fontsource-variable/inter";
import "@fontsource/inter";
import "@fontsource-variable/jetbrains-mono";
import "@fontsource/jetbrains-mono";

export interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const {
  title = "AetherNet | AS215207",
  description = "AetherNet is a Hobbynet.",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <link rel="icon" type="image/png" href={"/favicon.ico"} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={Astro.url} />
    {/* OpenGraph */}
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    {/* Twitter */}
    <meta property="twitter:card" content={"summary"} />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />

    <style is:global>
      :root {
        @apply font-mono text-white;
      }
      a {
        @apply text-blue-500 hover:text-blue-600;
      }
    </style>
  </head>
  <body class="bg-zinc-900">
    <slot />
  </body>
</html>
